.background {
    width: 100vw;
    height: 100vh;
    display: flex;

    & .containerForm {
        background-color: rgba(34, 36, 37, 0.733);
        width: fit-content;
        height: fit-content;
        align-items: center;
        color: rgb(224, 216, 216);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
    }

    & button,
    p {
        background-color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        font-size: large;
        font-weight: 300;
        color: rgb(34, 36, 37);
        width: 100%;
        justify-content: center;
        padding: 4px;
        margin-top: 6px;
        border-radius: 12px;
    }

}

.itensForm {
    padding: 6px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    & label {
        margin-right: 4px;
    }

    & input {
        border: 1px solid rgb(34, 36, 37);
        background-color: rgb(91, 93, 94);
        color: rgb(224, 216, 216);
        text-align: center;
        border-radius: 4px;
    }
}

.pac-container :hover {
    background-color: rgb(10, 10, 10);
    ;
}

.pac-logo {
    background: rgb(34, 36, 37);
}


.pac-item-query,
.pac-matched , span{
    color: #dbd4d4;
    
}