.background {
    background-image: url(https://cdn.pixabay.com/photo/2019/08/24/11/05/planet-earth-4427436_1280.jpg);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    align-items: center;
    justify-content: center;
    background-clip: padding-box;
    color: aliceblue;
}

.background p,
h1,
form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

button {
    color: aliceblue;
}

.itensForm label,
input {
    margin: 5px;
    border: 1px solid whi;
}